<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acc</title>
</head>
<body>
    <form method="post" action="/account">
    <label>Profile Picture</label>
    <div>
    <img src="user" alt="Avatar" id="profilePicture">
    </div>
    <input type="submit" name="submit" value="set pfp" onclick = "show()">
    </form>
    <img src = 'pfp' alt="Avatar" id="as">
</body>
<style>
    #as {
      border-radius: 50%;
      max-width: 10%;
      max-height: 10%;
}

img{
    visibility: hidden;
}
</style>
<script>
    function show() {
        document.getElementById('as').style.visibility = "visible"
    }

</script>
</html>